
/*	[ 404 Pages ]
- - - - - - - - - - - - - - - - - - - - */
.error404 {
	.wrapper .container {
		background: none;
	}
	.content-404 {
		padding: 280px 5%;
		h3 {
			font-size: 40px;
			line-height: 40px;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 0 0 20px;
			font-weight: bold;
		}
		p {
			font-size: 14px;
			margin-top: 35px;
		}
		.widget-search {
			max-width: 550px;
			width: 100%;
			margin: 50px auto 0;
			button {
				right: 10px;
				border: none;
			}
		}
	}
	.search-field:focus,
	.search-field:active {
		outline: none;
	}
}

/*	[ Search Result page ]
- - - - - - - - - - - - - - - - - - - - */
.search-results {
	.entry-title {
		text-transform: none;
		font-size: 22px;
	}
	.p-info {
		right: 30px;
		top: 30px;
	}
	.product .entry-content .price {
		font-weight: bold;
		font-size: 20px;
	}
	.entry-cat a {
		float: none;
		padding: inherit;
		font-size: inherit;
		background: none;
		text-transform: none;
		letter-spacing: 0;
	}
}
