// Colors
$primary-color:    #ff4064 !default;
$text-color:       #646464 !default;
$link-color:       #ff4064 !default;
$dark-color:       #323232 !default;
$gray-color:       #ababab !default;
$border-color:     #ebebeb !default;

$secondary-bg:  #f2f2f2 !default;
$gray-bg:       #f9f9f9 !default;
$white-bg:      #fff !default;
$dark-bg:       #323232 !default;

$line-height-base: 1.428571429 !default;
